
@{
    //ViewData["Title"] = "_MasterLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <style>

        div.nav-tab {
            border: 0;
            margin-bottom: 15px;
            margin-top: 30px;
            border-radius: 6px;
            color: rgba(0,0,0,.87);
            background: #fff;
            width: 100%;
            /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);*/
        }

            div.nav-tab.card-plain {
                background: transparent;
                /*box-shadow: none;*/
            }

            div.nav-tab .card-header {
                border-radius: 3px;
                padding: 5px 5px;
                margin-left: 15px;
                margin-right: 15px;
                margin-top: -30px;
                border: 0;
                /*background: linear-gradient(60deg,#eee,#bdbdbd);*/
            }

        .card-plain .card-header:not(.card-avatar) {
            margin-left: 0;
            margin-right: 0;
        }

        div.nav-tab .card-header-info {
            border: 1px solid black;
            /*background: #4e73df;*/
            /*box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(244,67,54,.6);*/
        }

        .card-nav-tabs .card-header {
            margin-top: -30px !important;
        }

        .nav-tab .card-header .nav-tabs {
            padding: 0;
        }

        .nav-tabs {
            border: 0;
            border-radius: 3px;
            padding: 0 15px;
        }

        .nav {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

        .nav-tabs .nav-item {
            margin-bottom: -1px;
        }

            .nav-tabs .nav-item .nav-link.active {
                /*background-color: hsla(0,0%,100%,.2);*/
                background: #e83a3a;
                transition: background-color .1s .1s;
            }

            .nav-tabs .nav-item .nav-link {
                border: 0 !important;
                color: #fff !important;
                font-weight: 500;
            }

            .nav-tabs .nav-item .nav-link {
                color: #fff;
                border: 0;
                margin: 0;
                border-radius: 3px;
                /*line-height: 24px;
        text-transform: uppercase;*/
                font-size: 12px;
                font-weight: bold;
                padding: 5px 16px !important;
                background-color: transparent;
                transition: background-color .1s 0s;
            }

        .nav-link {
            display: block;
        }

        .nav-tabs .nav-item .material-icons {
            margin: -1px 5px 0 0;
            vertical-align: middle;
        }

        .nav .nav-item {
            position: relative;
            background: #70bf42;
            /*background-image: radial-gradient( circle 916px at -1.1% 50.2%, rgba(16,233,139,1) 13%, rgba(0,176,228,1) 100.2% );*/
            margin: 2px 2px 2px 2px;
            border-radius: 7px;
        }

        footer {
            margin-top: 100px;
            color: #555;
            background: #fff;
            padding: 25px;
            font-weight: 300;
        }

        .footer p {
            margin-bottom: 0;
            font-size: 14px;
            margin: 0 0 10px;
            font-weight: 300;
        }

        footer p a {
            color: #555;
            font-weight: 400;
        }

            footer p a:hover {
                color: #9f26aa;
                text-decoration: none;
            }
    </style>

    @RenderSection("Style", required: false)
}

<div id="content-wrapper" class="d-flex flex-column">
    <!-- Tab Heading -->
   
</div>

@RenderBody()

@section Scripts{
    @RenderSection("Scripts", required: false)
}
