
@{
    ViewData["Title"] = "Accordian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .bs-example {
        margin: 10px;
    }

   .accordion .fa {
        margin-right: 0.5rem;
        font-size: 24px;
        font-weight: bold;
        position: relative;
        top: 2px;
    }
</style>

<div class="container-fluid">
    <div class="accordion" id="accordionExample">

        <div class="card">
            <div class="card-header collapsed" id="TabHeading1" data-toggle="collapse" data-target="#CollapseTab1">
                <h5 class="mb-0 text-primary">
                    Donor Information
                    <i class="fa fa-angle-down float-md-right"></i>
                </h5>
            </div>
            <div id="CollapseTab1" class="collapse show" aria-labelledby="TabHeading1" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header collapsed" id="TabHeading2" data-toggle="collapse" data-target="#CollapseTab2">
                <h5 class="mb-0 text-primary">
                     User Information
                    <i class="fa fa-angle-down float-md-right"></i>
                </h5>
            </div>
            <div id="CollapseTab2" class="collapse" aria-labelledby="TabHeading2" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>



        <div class="card">
            <div class="card-header collapsed" id="TabHeading3" data-toggle="collapse" data-target="#CollapseTab3">
                <h5 class="mb-0 text-primary">
                     Social Organization Information
                    <i class="fa fa-angle-down float-md-right"></i>
                </h5>
            </div>
            <div id="CollapseTab3" class="collapse" aria-labelledby="TabHeading3" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>







        @*<div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-angle-right float-md-right"></i> What is HTML?</button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>HTML stands for HyperText Markup Language. HTML is the standard markup language for describing the structure of web pages. <a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-angle-right float-md-right"></i> What is CSS?</button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>*@
    </div>
</div>


@section Scripts{ 

    <script>
        $(document).ready(function () {
            // Add down arrow icon for collapse element which is open by default
            $(".collapse.show").each(function () {
                $(this).prev(".card-header").find(".fa").addClass("fa-angle-down").removeClass("fa-angle-right");
            });

            // Toggle right and down arrow icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function () {
                $(this).prev(".card-header").find(".fa").removeClass("fa-angle-right").addClass("fa-angle-down");
            }).on('hide.bs.collapse', function () {
                $(this).prev(".card-header").find(".fa").removeClass("fa-angle-down").addClass("fa-angle-right");
            });
        });
    </script>
}