
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<html>
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-info">
                        <h1 class="text-center text-white">Success!!</h1>
                    </div>
                    <div class="card-body text-center">
                        <p>
                            The email has been sent. Please check your email to reset your password.
                        </p>
                        <a class="btn btn-primary" href="/Home/Index">Back To Home</a>
                    </div>
                    <div class="card-footer">
                        <span>©2021 Nayeem Bhuiyan</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



