@model string

@{
    ViewData["Title"] = "Forgot Password";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <div class="jumbotron">
                    <div class="card">
                        <div class="card-header bg-success">
                            <h1 class="text-center text-white">Forgot Password</h1>
                        </div>
                        <div class="card-body">
                            <form asp-area="Auth" asp-controller="Account" asp-action="ForgotPassword" method="post">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input name="email" class="form-control" />
                                </div>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </form>
                        </div>
                        <div class="card-footer">
                            <span>©2021 Nayeem Bhuiyan</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



